doctype html
html
  head
    title Paradigm Shift by HTML5 UP
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='description', content='Loream ipsum loves puggies!')
    meta(name='keywords', content='love, pugs, nodejs, javascript, php, sass')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  body.is-preload
    block content